body {
    position: relative;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #E6ECDE;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #E6ECDE; /* Background color for the navbar */
}

.navbar nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #182e17;
    font-weight: bold;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #182E17;
    text-decoration: none;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: #182E17;
}

.burger-icon {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}


.dropdown {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open {
    display: block;
    height: 240px;
    text-decoration: none;
}

.dropdown li {
    padding: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.dropdown a {
    text-decoration: none; /* Ensure no text decoration */
    color: #182E17; /* Text color for dropdown links */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.container {
    width: 80%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #bbc5ad;
}

.register, .logincontainer {
    padding: 20px;
}

.register {
    flex: 1;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.ttl {
    margin: 0;
    padding: 0;
    color: #182E17;
    font-size: 3em;
}

.register p { 
    margin: 0;
    padding: 0;
    color: #182E17;
    align-self: center;
    font-size: 1.1em;
    margin-top: 100px;
}

p.desc {
    font-size: 1.8em;
    margin: 0;
}

.logo-img {
    margin: 0;
    padding: 0;
    display: block;
    min-width: 100px;
}

.logincontainer {
    width: 300px;
    height:650px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    color:#182E17;
    flex: 1;
    justify-content: center;
}
  

.input-container {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 18px;
    color: #999;
    display: flex;
    align-items: center;
    cursor: text;
    transition: all 0.3s ease;
}

input[type="text"], input[type="password"] {
    width: 300px;
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 2px solid #bbc5ad;
    font-size: 16px;
    box-sizing: border-box;
    background: transparent;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
}

input[type="text"]:focus + label, input[type="password"]:focus + label, input[type="text"]:valid + label,
input[type="password"]:valid + label {
    top: -15px;
    left: 0;
    font-size: 14px;
    color: #182E17;
    pointer-events: none;
}

.logbtn {
    background: #182E17;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    font: 1.2em 'Roboto', sans-serif;
    width: 300px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s;
}

.logbtn[type="submit"]:hover {
    transform: scale(1.05);
}


a.register-button {
    background: #182E17;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    font: 1.2em 'Roboto', sans-serif;
    color: #fff;
    width: 300px!important;
    max-width: 300px;
    text-align: center;
    text-decoration: none;
    align-self: center;
    cursor: pointer;
    transition: transform 0.2s;
}

a.register-button:hover {
    transform: scale(1.05);
}

.footer {
    bottom: 0;
    position: fixed;
    background-color: #f8f8f8; /* Example background color */
    width: 100%;
    box-sizing: border-box; /* Include padding in width */
}

.footer-content {
    width: 100%; /* Full width for responsiveness */
    display: flex; /* Flexbox for layout */
    justify-content: space-between; /* Space between elements */
    align-items: center;
    margin: 0 auto; /* Center the content */
    box-sizing: border-box; /* Include padding in width */
    padding: 10px 20px; /* Padding for the content */
}

.footer-left, .footer-right {
    display: flex;
    flex: 1; /* Take equal space */
    margin: 0;
}

.footer-left {
    justify-content: flex-start; /* Align to the left */
    flex-direction: column; /* Stack items vertically if needed */
}

.footer-right {
    justify-content: flex-end; /* Align to the right */
}

.footer-left p {
    margin: 0; /* Remove default margin */
    font-size: 0.8em; /* Example font size */
}

.footer-right a {
    margin: 0 10px; /* Margin between links */
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Link color */
    font-size: 0.8em;
}

.footer-right a:hover {
    color: #007bff; /* Link hover color */
}

.footer-right img {
    width: 20px; /* Image width */
    height: 20px; /* Image height */
    margin: 0; /* Remove margin */
}




@media (max-width: 768px) {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        height: auto;
    }

    .navbar nav {
        display: none;
    }

    .burger-icon {
        display: block;
    }

    .dropdown {
        display: block;
    }

    .content {
        width: 100%;
        flex-direction: column; /* Stack children vertically */
        padding: 20px; /* Add padding to content */
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center children horizontally */
        width: 100%;
        height: auto;
        margin-top: 0;
        padding: 10px;
    }

    .register, .logincontainer {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .register {
        margin-top: 10px;
        margin-bottom: 20px;
        align-items: center;
    }

    .ttl, p.desc{
        box-sizing: border-box; /* Include padding and border in element's total width and height */
    }

    .ttl {
        text-align: center;
        font-size: 1.9em;
        margin-top: 10px; /* Add some space at the top */
    }

    p.desc {
        font-size: 1em;
    }

    .register p {
        font-size: 1em;
        margin-top: 10px; /* Add space between desc and register */
        align-self: center;
    }

    a.register-button {
        width: 250px!important;
        font-size: 1em;
    }

    .logbtn { 
        margin-bottom: 20px; /* Add space between button and input fields */
    }

    .input-container {
        margin: 10px 0; /* Add space between input fields */
        width: 100%;
    }

    .logincontainer h1 {
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }

    .logo-img {
        width: 150px; /* Adjust width of logo image */
    }

    .footer {
        padding: 5px 0; /* Adjust padding for smaller screens */
        position: relative;
    }

    .footer-left, .footer-right {
        width: 100%; /* Full width for responsiveness */
    }

    .footer-left p {
        font-size: 0.7em;
    }


}

/* Media query for devices with a max-width of 400px */
@media (max-width: 480px) {

    .dropdown {
        left: 2rem;
        width: unset;
    }
    
    .container {
        width: 100%;
        align-items: center; /* Ensure children are centered */
    }

    .ttl {
        font-size: 1.7em; /* Adjust font size for smaller screens */
    }
    
    h1 {
        font-size: 1.7em; /* Adjust font size for smaller screens */
    }

    p.desc {
        font-size: 1.1em; /* Adjust font size for smaller screens */
    }

    p {
        font-size: 0.9em; /* Adjust font size for smaller screens */
    }

    p.desc + p {
        margin-top: 5px; /* Reduce space between .desc and the next p */
    }

    input[type="text"], input[type="password"] {
        width: 250px; /* Adjust width of input fields */
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .logbtn {
        width: 250px; /* Adjust width of button */
        font-size: 1em; /* Adjust font size for smaller screens */
    }

}
