body {
    font-family: Arial, sans-serif;
    background-color: #E6ECDE;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #E6ECDE; /* Background color for the navbar */
}

.navbar nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #182e17;
    font-weight: bold;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #182E17;
    text-decoration: none;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: #182E17;
}

.burger-icon {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}


.dropdown {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open {
    display: block;
    height: 240px;
    text-decoration: none;
}

.dropdown li {
    padding: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.dropdown a {
    text-decoration: none; /* Ensure no text decoration */
    color: #182E17; /* Text color for dropdown links */
}

.con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6ECDE;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

.farm-container {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
}

.input-cont {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

h1 {
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
}

.input-cont label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    color: #999;
    transition: 0.2s ease all;
    pointer-events: none;
}

input {
    width: 100%; /* Ensure input takes full width of the parent container */
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 2px solid #bbc5ad;
    font-size: 16px;
    box-sizing: border-box;
    background: transparent;
}

input:focus {
    outline: none;
}

input:focus + label,
input:valid + label {
    top: -15px;
    left: 0;
    font-size: 14px;
    color: #c2d6a6;
}

input[type="checkbox"] {
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #182E17;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

.input-cont input,
.form-group select {
    width: 100%; /* Full width of the parent container */
    min-width: 300px; /* Set a minimum width to prevent shrinking */
}

.form-group {
    margin-bottom: 15px;
}

/* Form group label styling */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #999;
}

/* Form group select styling */
.form-group select {
    width: 100%; /* Ensure select element takes full width of the parent container */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Disabled select styling */
.form-group select:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
}

/* Option styling */
.form-group option {
    padding: 10px;
}

.submit {
    text-align: center;
}

.footer {
    bottom: 0;
    position: fixed;
    background-color: #f8f8f8; /* Example background color */
    width: 100%;
    box-sizing: border-box; /* Include padding in width */
}

.footer-content {
    width: 100%; /* Full width for responsiveness */
    display: flex; /* Flexbox for layout */
    justify-content: space-between; /* Space between elements */
    align-items: center;
    margin: 0 auto; /* Center the content */
    box-sizing: border-box; /* Include padding in width */
    padding: 10px 20px; /* Padding for the content */
}

.footer-left, .footer-right {
    display: flex;
    flex: 1; /* Take equal space */
    margin: 0;
}

.footer-left {
    justify-content: flex-start; /* Align to the left */
    flex-direction: column; /* Stack items vertically if needed */
}

.footer-right {
    justify-content: flex-end; /* Align to the right */
}

.footer-left p {
    margin: 0; /* Remove default margin */
    font-size: 0.8em; /* Example font size */
}

.footer-right a {
    margin: 0 10px; /* Margin between links */
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Link color */
    font-size: 0.8em;
}

.footer-right a:hover {
    color: #007bff; /* Link hover color */
}

.footer-right img {
    width: 20px; /* Image width */
    height: 20px; /* Image height */
    margin: 0; /* Remove margin */
}

    

@media (max-width: 768px) {

    * {
        box-sizing: border-box;
    }

    body {
        height: auto;
        margin: 0;
        padding: 0;
    }

    .navbar nav {
        display: none;
    }

    .burger-icon {
        display: block;
    }

    .dropdown {
        display: block;
    }

    .con {
        width: 100%;
        padding: 20px;
    }

    .farm-container {
        width: 100%;
    }

    .input-cont label {
        font-size: 16px;
    }

    input[type="submit"] {
        font-size: 16px;
    }

    
    .footer {
        padding: 5px 0; /* Adjust padding for smaller screens */
        position: relative;
    }

    .footer-left, .footer-right {
        width: 100%; /* Full width for responsiveness */
    }

    .footer-left p {
        font-size: 0.7em;
    }
}

@media (max-width: 480px) {

    .dropdown {
        width: unset;
        left: 2rem;
    }

    .input-cont input {
        font-size: 14px;
        padding: 8px 5px 8px 5px;
    }

    .input-cont label {
        font-size: 14px;
    }

    input[type="submit"] {
        font-size: 14px;
    }

}