<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <div class="prediction">
        <form action="{{ url_for('admin_test') }}" method="post" enctype="multipart/form-data">
            <label for="file">Upload File:</label>
            <input type="file" name="file" id="file" accept="image/*" capture="camera">
            <button type="submit">Upload</button>
        </form>
        <p>{{ formatted_labels }}</p>
        <img src="{{image_url}}" alt="">
    </div>


</body>
</html>