<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .custom-file-upload {
    display: inline-block;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-file-upload:hover {
    background-color: #2980b9;
}

    </style>

</head>
<body>
    <label for="fileInput" class="custom-file-upload">
        <span>Custom Button</span>
    </label>
    <input type="file" id="fileInput" accept="image/*" capture="environment" style="display: none;">
    
</body>


</html>